export APP_MODULE=interviews.main:app
export HOST=0.0.0.0
export PORT=8000
export ENV=dev
export SECURE_COOKIE=dev
export TOKEN_SECRET_KEY=my_secret_key

export PG_USER=postgres
export PG_PASSWORD=postgres
export PG_DB=postgres_db
export PG_PORT=5523
export PG_HOST=localhost

export DOMAIN_NAME=http://0.0.0.0:8000

export ADMIN_EMAIL=admin@admin.admin
export ADMIN_PASSWORD=qwer-qwer

export AI_PROVIDER=openai
export AI_API_KEY=sk-...